$primary-color: #f9f9f9;
$primary-color-dark: darken($primary-color, 40%);
$body-color: #6495ED;
$secondary-color: #23232e;
$font-size: 16px;
$transition-time: 500ms;
$card_distance: 10px;
$card_padding: 2px;
$card-shadow: 2px;

// Uncomment to see divs
// div {
//   border: 1px dotted;
// }

:root {
  font-size: $font-size;
  font-family: 'Open Sans';
}


body {
  background-color: $primary-color;
}

.card {
  padding: $card_padding;
}

.react-grid-layout {
  .react-grid-item {
    filter: drop-shadow($card-shadow $card-shadow $card-shadow $primary-color-dark);
    transform: translate(20px, 20px);

    .react-resizable-handle {
      background: unset;
      height: unset;
      width: unset;
      bottom: $font-size - 3px;
      right: $font-size - 1px;
      color: $primary-color-dark;
      padding: 0;
      transform: scaleX(-1);

      // fa-large
      font-size: 1.33333em;
      line-height: 1em;
      vertical-align: -.0667em;

      &:before {
        content: "\f424"; // Expand arrow. https://fontawesome.com/cheatsheet?from=io
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.view-card {
  display: inline-flex;
}

.graph-controls {
  position: fixed;
  bottom: 0.8rem;
  right: 2rem;

  .control-item {
    color: $primary-color-dark;
    padding-right: 0.5rem;

    &:hover {
      color: $secondary-color;
    }
  }
}


.dark {
  background-color: $secondary-color;
  color: $primary-color;
  filter: none;
  border: none;
}

.card-title {
  margin: auto;
}

.inactive-graph {
  display: none;
}


.sidebar {
  position: fixed;
  background-color: $secondary-color;
  transition: width $transition-time ease;
  overflow: scroll;
  top: 5rem;
  width: 15rem;
  height: 100vh;
}

.collapsed {
  width: 5rem;
}

.expanded-content {
  /* TODO: Remove important. Would be nice to create the sidebar as a react component */
  margin-left: 5rem !important;
}


.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.inactive-control {
  transform: translate(-500px);
  opacity: 0;
  transition: transform 2s, opacity $transition-time;
}

.active-control {
  opacity: 1;
  transition: opacity $transition-time/2 ease-in $transition-time/2;
}

.nav-item {
  width: 100%;

  .nav-span {
    padding-left: 1rem;
    font-size: $font-size * 2.5;
  }
}

#content-container {
  margin-left: 15rem;
  // padding: 10px;
  padding: $card_distance $card-shadow $card_distance $card_distance;
  // margin-right: $card_distance;
  transition: margin-left $transition-time ease;

  // width: 100%;
  // display: flex;
}


#header-navbar {
  height: 5rem;
  display: flex;
  background-color: $body-color;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
